@import 'main'

footer
  background-color: white
  color: black
  text-align: center
  padding: 30px
  display: flex
  justify-content: center
  margin-top: 30px

  .content
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 70vw

    .first-row
      display: flex

      .left
        .logo
          height: 8vh

        .title
          color: $color-blue

      .right
        margin: 20px

        hr
          margin: 20px
          border: 1px solid $color-blue
          border-radius: 5px


@media (max-width: 800px)
  footer
    .content
      .first-row
        flex-direction: column
        align-items: center
        justify-content: center

        .left
          .logo
            height: 8vh

        .right
          margin: 20px

          hr
            margin: 20px
            border: 1px solid $color-blue
            border-radius: 5px
