<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
  <!-- cdn fontawesome -->
  <script src="https://kit.fontawesome.com/1d87cf05c5.js" crossorigin="anonymous"></script>
   <!-- cdn jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>

<div class="navbar">
  <div class="left">
    <div class="logo">
      <img src="/src/Resources/img/logo.jpg" class="logo" alt="logo">
    </div>
    <div class="title">
      <h1>Amical'Troc</h1>
    </div>
  </div>
  <div class="menu">
    <a href="#" class="current">Accueil</a>
    <a href="src/temporaryPages/Vente.html">Vente</a>
    <a href="src/temporaryPages/Troc.html">Troc</a>
    <a href="src/temporaryPages/Location.html">Location</a>
  </div>
  <a class="publish-button" href="src/temporaryPages/Publish.html">
    <i class="fa-regular fa-square-plus"></i>
    <span>Déposer une annonce</span>
  </a>
</div>
<div class="container">
  <h1>Quel type d'annonces cherchez vous :</h1>
  <div class="options">
    <a href="/sell" class="option">Vente</a>
    <a href="/barter" class="option">Troc</a>
    <a href="/location" class="option">Location</a>
  </div>
</div>
{% include "Components/footer.html" %}
</body>
</html>