<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vente</title>
    {{ resource('Style/css/main.css') }}
    {{ resource('Style/css/footer.css') }}
    {{ resource('Style/css/offer.css') }}
    <script src="https://kit.fontawesome.com/1d87cf05c5.js" crossorigin="anonymous"></script>
</head>
<body>

{% include "Components/navbar.twig" %}

<div class="container">
    {% include "Components/offer.twig" with {'title': "titre de l'annonce", 'price': "54,32", 'imagePath': "databaseImages/voiture.jpg", 'date': "16/12/2004"}  %}
    {% include "Components/offer.twig" with {'title': "titre de l'annonce", 'price': "54,32", 'imagePath': "databaseImages/voiture.jpg", 'date': "16/12/2004"}  %}
    {% include "Components/offer.twig" with {'title': "titre de l'annonce", 'price': "54,32", 'imagePath': "databaseImages/voiture.jpg", 'date': "16/12/2004"}  %}
    {% include "Components/offer.twig" with {'title': "titre de l'annonce", 'price': "54,32", 'imagePath': "databaseImages/voiture.jpg", 'date': "16/12/2004"}  %}

</div>
{% include "Components/footer.twig" %}
</body>
</html>