<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Vente</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/annonce.css">
    <script src="https://kit.fontawesome.com/1d87cf05c5.js" crossorigin="anonymous"></script>
    <script src="../js/script.js" defer></script>
</head>
<body>

<div class="navbar">
    <div class="left">
        <div class="logo">
            <img src="../img/logo.jpg" class="logo" alt="logo">
        </div>
        <div class="title">
            <h1>Amical'Troc</h1>
        </div>
    </div>
    <div class="menu">
        <a href="../../index.html">Accueil</a>
        <a href="#" class="current">Vente</a>
        <a href="Troc.html">Troc</a>
        <a href="Location.html">Location</a>
    </div>
    <div class="search-navbar">
        <input type="text" name="navbar-search" id="navbar-search" placeholder="Rechercher">
        <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

</div>

<div class="container">
    <div class="annonce">
        <div class="annonce-image">
            <img src="../img/voiture.jpg" alt="Annonce 1">
        </div>
        <div class="annonce-info">
            <div class="annonce-header">
                <h2>Annonce 1</h2>
                <div class="annonce-prix">
                    <span class="prix-label">Prix :</span>
                    <span class="prix-valeur">5000 €</span>
                </div>
                <div>
                    <button class="btn-delete">supprimer l'annonce <i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
            <div class="annonce-details">
                <p><strong>Marque :</strong> Exemple </p>
                <p><strong>mise en vente le :</strong> 11/05/2023</p>
                <p><strong>Mail de contact :</strong> exemple@mail.fr</p>
                <p><strong>numero de contact : </strong> 0780743349</p>
            </div>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid assumenda cupiditate dolore est explicabo fuga iure maiores nostrum placeat, quo veniam veritatis voluptates? Alias consectetur eveniet odio quisquam quo?</span><span>Assumenda blanditiis debitis dignissimos eos et, ex exercitationem impedit ipsa modi necessitatibus, nobis quisquam repellendus, rerum sapiente vel. Beatae cumque dolor ipsam similique vel! Consectetur corporis culpa dolorum iusto odit!</span></p>

        </div>
    </div>
</div>
</body>
</html>