<footer>
  <div class="content">
    <div class="first-row">
      <div class="left">
        <div class="logo">
          <img src="/src/Resources/img/logo.jpg" class="logo" alt="logo">
        </div>
        <div class="title">
          <h1>Amical'Troc</h1>
        </div>
      </div>
      <div class="right">
        <div class="description">
          Ce site web est pour les membres de <strong>l'amicale de l'hopital de Rodez</strong>, il permet de vendre, acheter et troquer des objets.
          Seul les membres de l'amicale peuvent ajouter des annonces. Vous trouverez des annonces vérifiées par des
          administrateurs, pour autant nous ne garantissons que la mise en relation entre les vendeurs et les acheteurs.
          <hr>
          Le site est développé et maintenu par <strong>COSTES Quentin</strong>, si vous trouvez un bug ou avez une idée
          d'amélioration, n'hésitez pas à le contacter via Github:
          <a href="https://github.com/quentinformatique">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <div class="links">

        </div>
      </div>
    </div>
    <div class="second-row">
      <p>@2024 copyrights <strong>Amicale de l'hopital de Rodez</strong>, tous droits réservés
      </p>
    </div>
  </div>
</footer>